@charset "UTF-8";
.firstview-content {
  position: relative;
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
  height: 303px;
  overflow: hidden;
}
@media screen and (min-width: 576px) {
  .firstview-content {
    height: 263px;
  }
}
@media screen and (min-width: 768px) {
  .firstview-content {
    width: 90vw;
    height: 359px;
  }
}
@media screen and (min-width: 1024px) {
  .firstview-content {
    height: 407px;
  }
}
@media screen and (min-width: 1200px) {
  .firstview-content {
    height: 608px;
  }
}
.firstview-title {
  position: absolute;
  top: 87px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 288px;
}
@media screen and (min-width: 576px) {
  .firstview-title {
    max-width: 65vw;
  }
}
@media screen and (min-width: 768px) {
  .firstview-title {
    gap: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .firstview-title {
    top: 135px;
  }
}
@media screen and (min-width: 1200px) {
  .firstview-title {
    top: 296px;
  }
}
.firstview-title .en {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #043d78;
}
@media screen and (min-width: 768px) {
  .firstview-title .en {
    font-size: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .firstview-title .en {
    font-size: 104px;
  }
}
@media screen and (min-width: 1366px) {
  .firstview-title .en {
    font-size: 120px;
  }
}
.firstview-title .jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #043d78;
}

.realization-container {
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .realization-container {
    padding-bottom: 168px;
  }
}
.realization-content {
  width: calc(100% - 32px);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .realization-content {
    width: 85vw;
  }
}
.realization-head {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 175%;
  letter-spacing: 0.1em;
  color: #333333;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .realization-head {
    font-size: 24px;
    margin-bottom: 64px;
  }
}
.realization-description {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 220%;
  letter-spacing: 0.05em;
  color: #333333;
}
.realization-description .blue {
  color: #077bf7;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .realization-description {
    font-size: 16px;
  }
}

.bg-container-ojt {
  background-color: #043d78;
}

.ojt-container {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .ojt-container {
    padding-top: 168px;
    padding-bottom: 168px;
  }
}
.ojt-content {
  width: calc(100% - 32px);
  margin-left: auto;
  margin-right: auto;
}
.ojt-title {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 175%;
  letter-spacing: 0.1em;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 576px) {
  .ojt-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .ojt-title {
    margin-bottom: 104px;
  }
}
@media screen and (min-width: 1024px) {
  .ojt-title {
    font-size: 40px;
    line-height: 100%;
  }
}
.ojt-ideal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1024px) {
  .ojt-ideal-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.ojt-ideal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  background-color: #e5f2ff;
  padding: 24px 16px;
}
@media screen and (min-width: 576px) {
  .ojt-ideal-item {
    gap: 40px;
    padding: 40px;
  }
}
@media screen and (min-width: 768px) {
  .ojt-ideal-item {
    gap: 64px;
    padding: 40px;
  }
}
.ojt-ideal-child-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding-left: 24px;
}
.ojt-ideal-child-item {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.1em;
  text-align: left;
  position: relative;
}
.ojt-ideal-child-item::before {
  content: "〇";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-24px, 0);
          transform: translate(-24px, 0);
}
@media screen and (min-width: 576px) {
  .ojt-ideal-child-item {
    font-size: 16px;
    line-height: 220%;
  }
}
.ojt-ideal-head {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}
@media screen and (min-width: 576px) {
  .ojt-ideal-head {
    font-size: 24px;
    letter-spacing: 0.1em;
  }
}
.ojt-tab {
  /* アクティブなタブ */
  /* ラジオボタン非表示 */
}
.ojt-tab-head {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: #333333;
}
@media screen and (min-width: 576px) {
  .ojt-tab-head {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .ojt-tab-head {
    font-size: 40px;
  }
}
.ojt-tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding-left: 40px;
}
@media screen and (min-width: 1024px) {
  .ojt-tab-list {
    gap: 40px;
  }
}
.ojt-tab-item {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.025em;
  text-align: left;
  position: relative;
}
.ojt-tab-item::before {
  content: "〇";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
}
@media screen and (min-width: 576px) {
  .ojt-tab-item {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .ojt-tab-item {
    font-size: 24px;
  }
}
.ojt-tab-wrap {
  text-align: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 6px 6px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}
.ojt-tab-wrap::after {
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media screen and (min-width: 1024px) {
  .ojt-tab-wrap {
    max-width: 960px;
  }
}
@media screen and (min-width: 1366px) {
  .ojt-tab-wrap {
    max-width: 1200px;
  }
}
.ojt-tab-label {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 4.375vw;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: #333333;
  padding: 24px 8px;
  color: White;
  background: #4a89cd;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  text-align: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: calc(50% - 0px);
}
@media screen and (min-width: 576px) {
  .ojt-tab-label {
    font-size: 20px;
    padding: 24px 8px;
  }
}
@media screen and (min-width: 768px) {
  .ojt-tab-label {
    font-size: 24px;
    padding: 24px 16px;
  }
}
@media screen and (min-width: 576px) {
  .ojt-tab-label:nth-child(odd) {
    margin-left: 8px;
  }
}
@media screen and (min-width: 576px) {
  .ojt-tab-label:nth-child(even) {
    margin-right: 8px;
  }
}
@media screen and (min-width: 576px) {
  .ojt-tab-label:not(:last-of-type) {
    margin-right: 5px;
  }
}
.ojt-tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.ojt-tab-switch:checked + .ojt-tab-label {
  background: white;
  color: #333333;
}
.ojt-tab-switch:checked + .ojt-tab-label + .ojt-tab-content {
  height: auto;
  overflow: auto;
  opacity: 1;
  padding: 24px 16px;
}
@media screen and (min-width: 576px) {
  .ojt-tab-switch:checked + .ojt-tab-label + .ojt-tab-content {
    gap: 40px;
    padding: 40px;
  }
}
@media screen and (min-width: 768px) {
  .ojt-tab-switch:checked + .ojt-tab-label + .ojt-tab-content {
    gap: 64px;
    padding: 64px;
  }
}
.ojt-tab-switch {
  display: none;
}

.people-content {
  padding-top: 104px;
  padding-bottom: 104px;
}
.people-head {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 104px;
}
@media screen and (min-width: 768px) {
  .people-head {
    font-size: 40px;
  }
}

.points-container {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .points-container {
    padding-top: 168px;
    padding-bottom: 168px;
  }
}
.points-content {
  width: calc(100% - 32px);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1366px) {
  .points-content {
    max-width: 1232px;
  }
}
.points-title {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 175%;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .points-title {
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 104px;
  }
}
.points-block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 104px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .points-block-list {
    padding-bottom: 168px;
  }
}
.points-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .points-block-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .points-block-item {
    gap: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .points-block-item {
    gap: 104px;
  }
}
.points-block-item:nth-of-type(1) .title::before {
  content: "01";
}
.points-block-item:nth-of-type(2) .title::before {
  content: "02";
}
.points-block-item:nth-of-type(3) .title::before {
  content: "03";
}
.points-block-item > .image {
  width: 100%;
  max-width: 400px;
}
@media screen and (min-width: 768px) {
  .points-block-item > .image {
    max-width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .points-block-item > .image {
    max-width: 400px;
  }
}
.points-block-item > .image > img {
  width: 100%;
}
.points-block-item > .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .points-block-item > .info {
    width: calc(100% - 40px - 200px);
    gap: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .points-block-item > .info {
    width: calc(100% - 64px - 400px);
  }
}
@media screen and (min-width: 1024px) {
  .points-block-item > .info {
    width: calc(100% - 104px - 400px);
  }
}
.points-block-item .title {
  position: relative;
  padding-left: 64px;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: #333333;
  margin-top: 12px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .points-block-item .title {
    font-size: 24px;
  }
}
.points-block-item .title::before {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: #077bf7;
  top: calc(0% - 12px);
  left: calc(0% + 8px);
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}
@media screen and (min-width: 768px) {
  .points-block-item .title::before {
    top: calc(0% - 12px);
  }
}
.points-block-item .title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 1px;
  background-color: #043d78;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%, -50%) rotate(-45deg);
          transform: translate(0%, -50%) rotate(-45deg);
}
.points-block-item .description {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 220%;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .points-block-item .description {
    font-size: 20px;
  }
}
.points-message-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  background-color: #e5f2ff;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .points-message-wrap {
    padding: 40px;
    gap: 64px;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .points-message-wrap {
    padding: 64px;
  }
}
.points-message-head {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 175%;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .points-message-head {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .points-message-head {
    font-size: 40px;
  }
}
.points-message-description {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 220%;
}
@media screen and (min-width: 768px) {
  .points-message-description {
    font-size: 20px;
    text-align: center;
  }
}/*# sourceMappingURL=career.css.map */