// 色
$indigo-a: #043d78;

$black-a: #333333;
$black-b: #130f31;

$gray-a: #7f7f7f;
$gray-b: #f2f2f2;
$gray-c: #bfbfbf;
$gray-d: #e6e6e6;
$gray-e: #666;

$blue-a: #e5f2ff;
$blue-b: #4a89cd;
$blue-c: #077bf7;
$blue-d: #066ad5;
$blue-e: #77a7da;
$blue-f: #f1f8ff;
