@use "variables";
@use "mixin";
@use "extend";

.firstview {
  &-content {
    position: relative;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    height: 320px;

    @include mixin.mq(sm) {
      height: 375px;
    }

    @include mixin.mq(md) {
      height: 465px;
      margin-left: mixin.getVwNoRound(263, 1440);
      margin-right: mixin.getVwNoRound(263, 1440);
      width: calc(100% - mixin.getVwNoRound(526, 1440));
    }

    @include mixin.mq(lg) {
      height: 671px;
    }

    @include mixin.mq(xsl) {
      height: 832px;
    }
  }

  &-title {
    position: absolute;
    top: 87px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 288px;

    @include mixin.mq(sm) {
      gap: 24px;
    }

    @include mixin.mq(md) {
      max-width: inherit;
    }

    @include mixin.mq(lg) {
      top: 135px;
    }

    @include mixin.mq(xsl) {
      top: 296px;
    }

    .en {
      @include mixin.inter(700, normal);

      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: variables.$indigo-a;

      @include mixin.mq(md) {
        font-size: 64px;
      }

      @include mixin.mq(lg) {
        font-size: 104px;
      }

      @include mixin.mq(xsl) {
        font-size: 120px;
      }
    }

    .jp {
      @include mixin.noto-sans-jp(500);

      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: variables.$indigo-a;
    }
  }
}

.bg-container-ideal {
  background-color: variables.$blue-a;
}

.ideal {
  &-container {
  }

  &-content {
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 129px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mixin.mq(sm) {
      width: 432px;
      padding-top: 171px;
    }

    @include mixin.mq(md) {
      width: 720px;
    }

    @include mixin.mq(lg) {
      padding-top: 312px;
    }
  }

  &-image {
    position: absolute;
    width: 100%;
    max-width: 288px;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(0% - (178px / 2)));

    @include mixin.mq(sm) {
      max-width: 345px;
      left: 67%;
      transform: translate(-50%, calc(0% - (213px / 2)));
    }

    @include mixin.mq(lg) {
      max-width: 673px;
      left: 67%;
      transform: translate(-50%, calc(0% - (416px / 2)));
    }

    @include mixin.mq(xsl) {
      left: 75%;
    }
  }

  &-lede {
    &-frame {
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: white;
      padding: 24px;
      margin-top: 0px;
      width: 288px;
      margin-left: auto;
      margin-right: auto;

      @include mixin.mq(sm) {
        width: 100%;
        max-width: 432px;
        gap: 40px;
        padding: 64px;
      }

      @include mixin.mq(md) {
      }
    }

    &-label {
      @include mixin.noto-sans-jp(500);

      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.1em;
      color: variables.$indigo-a;
      text-align: center;

      @include mixin.mq(sm) {
        font-size: 16px;
      }
    }

    &-head {
      @include mixin.noto-sans-jp(700);

      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0.05em;
      text-align: center;

      @include mixin.mq(sm) {
        font-size: 24px;
        letter-spacing: 0.15em;
      }
    }
  }

  &-description {
    @include mixin.noto-sans-jp(400);

    font-size: 14px;
    line-height: 220%;
    letter-spacing: 0.1em;

    @include mixin.mq(md) {
      width: 100%;
      max-width: 560px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.commitment {
  &-content {
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;

    @include mixin.mq(md) {
      padding-top: 168px;
      padding-bottom: 168px;
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    margin-bottom: 40px;

    @include mixin.mq(md) {
      gap: 24px;
    }

    .label {
      @include mixin.noto-sans-jp(500);

      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: variables.$gray-a;

      @include mixin.mq(sm) {
        font-size: 16px;
      }
    }

    .title {
      @include mixin.noto-sans-jp(700);

      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: variables.$indigo-a;

      @include mixin.mq(md) {
        font-size: 40px;
      }
    }
  }

  &-description {
    @include mixin.noto-sans-jp(400);

    font-size: 16px;
    line-height: 220%;
    letter-spacing: 0.05em;
    margin-bottom: 40px;

    @include mixin.mq(lg) {
      text-align: center;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mixin.mq(lg) {
      width: 100%;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-item {
    dl {
      display: flex;
      flex-direction: column;

      @include mixin.mq(md) {
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    dt {
      @include mixin.inter(700, italic);

      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0.1em;
      color: white;
      background-color: variables.$blue-e;
      display: flex;
      align-items: center;

      .indigo {
        color: variables.$indigo-a;
      }

      padding: 24px;

      @include mixin.mq(md) {
        width: 32%;
      }
    }

    dd {
      @include mixin.noto-sans-jp(400);

      font-size: 16px;
      line-height: 220%;
      letter-spacing: 0.05em;
      background-color: variables.$blue-f;
      padding: 24px;

      @include mixin.mq(md) {
        width: 68%;
      }
    }
  }
}

.pleasure {
  &-content {
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;

    // @include mixin.mq(md) {}
  }

  &-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    margin-bottom: 40px;

    @include mixin.mq(md) {
      gap: 24px;
    }

    .label {
      @include mixin.noto-sans-jp(500);

      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: variables.$gray-a;

      @include mixin.mq(sm) {
        font-size: 16px;
      }
    }

    .title {
      @include mixin.noto-sans-jp(700);

      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: variables.$indigo-a;

      @include mixin.mq(md) {
        font-size: 40px;
      }
    }
  }

  &-description {
    @include mixin.noto-sans-jp(700);

    font-size: 16px;
    line-height: 220%;
    letter-spacing: 0.05em;
    color: variables.$indigo-a;
    margin-top: 104px;
    margin-bottom: 104px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 904px;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 80px;
      height: 1px;
      background-color: variables.$indigo-a;
    }
  }

  &-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 104px;
    margin-bottom: 168px;

    @include mixin.mq(md) {
      max-width: 880px;
    }
  }

  &-item {
    &-frame {
      display: flex;
      flex-direction: column;
      gap: 40px;
      position: relative;

      &:not(:last-of-type) {
        &::before {
          content: "";
          width: 80px;
          height: 1px;
          background-color: variables.$indigo-a;
          position: absolute;
          bottom: calc(-104px / 2);
          left: 50%;
          transform: translate(-50%, 0%);

          @include mixin.mq(md) {
            content: none;
          }
        }
      }

      &:nth-of-type(1) {
        .pleasure-item-head {
          &::before {
            content: "01";
          }
        }
      }

      &:nth-of-type(2) {
        .pleasure-item-head {
          &::before {
            content: "02";
          }
        }
      }

      &:nth-of-type(3) {
        .pleasure-item-head {
          &::before {
            content: "03";
          }
        }
      }

      &:nth-of-type(4) {
        .pleasure-item-head {
          &::before {
            content: "04";
          }
        }
      }

      &:nth-of-type(5) {
        .pleasure-item-head {
          &::before {
            content: "05";
          }
        }
      }

      &:nth-of-type(6) {
        .pleasure-item-head {
          &::before {
            content: "06";
          }
        }
      }

      &:nth-of-type(7) {
        .pleasure-item-head {
          &::before {
            content: "07";
          }
        }
      }
    }

    &-head {
      position: relative;
      padding-left: 64px;
      @include mixin.noto-sans-jp(700);
      font-size: 16px;
      line-height: 150%;

      @include mixin.mq(sm) {
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.05em;
      }

      @include mixin.mq(md) {
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.1em;
      }

      &::before {
        @include mixin.inter(700, normal);

        position: absolute;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.1em;
        color: variables.$blue-c;
        top: calc(0% - 12px);
        left: calc(0% + 8px);
        transform: translate(0%, 0%);
      }

      &::after {
        position: absolute;
        content: "";
        width: 64px;
        height: 1px;
        background-color: variables.$indigo-a;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%) rotate(-45deg);
      }
    }

    &-description {
      @include mixin.noto-sans-jp(700);

      font-size: 14px;
      line-height: 175%;
      color: variables.$black-b;

      @include mixin.mq(sm) {
        font-size: 16px;
        line-height: 220%;
        letter-spacing: 0.1em;
      }
    }

    &-interview {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include mixin.mq(md) {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 64px;
      }

      .interview {
        &.image {
          display: flex;
          flex-direction: column;
          gap: 16px;
          align-items: center;

          @include mixin.mq(md) {
            width: 168px;
          }

          .thumbnail {
            width: 100%;
            max-width: 168px;
            margin-bottom: 8px;
          }

          .name {
            @include mixin.noto-sans-jp(700);

            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0.05em;
          }

          .joined {
            @include mixin.noto-sans-jp(500);

            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0.05em;
            color: variables.$gray-a;
          }
        }

        &.text {
          @include mixin.noto-sans-jp(500);

          font-size: 14px;
          line-height: 175%;
          letter-spacing: 0.05em;
          color: variables.$black-a;

          @include mixin.mq(md) {
            font-size: 16px;
            line-height: 220%;
            width: calc(100% - 64px - 168px);
          }
        }
      }
    }
  }
}
